* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}
html {
	background-color: rgb(40, 40, 100);
}
li,
a,
button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgb(40, 40, 100);
	background-color: white;
	text-decoration: none;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	background-color: white;
}
.img {
	background-color: burlywood;
}
.logo {
	width: 5%;
	cursor: pointer;
}
.head_2 {
	display: none;
}

@media screen and (max-width: 600px) {
	.head_1 {
		display: none;
	}
	.head_2 {
		display: block;
	}
}
.nav_link {
	list-style: none;
	background-color: white;
}
.nav_link li {
	display: inline-block;
	padding: 0px 20px;
}
.nav_link li a {
	transition: all 0.2s ease 0s;
}
.nav_link li a:hover {
	color: rgb(21, 21, 95);
	font-weight: 600;
}
button {
	padding: 9px 25px;
	background-color: rgb(40, 40, 100);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
}
button:hover {
	background-color: rgb(40, 40, 100, 0.8);
}
button[type="submit"] {
	margin-left: 35%;
	margin-top: 40px;
}
.login {
	color: chartreuse;
}
.popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	background-color: rgba(16, 16, 36, 0.9);
}
.popup_hidden {
	display: none;
}

.pop_sec {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background-color: white;
}
@media screen and (max-width: 680px) {
	.pop_sec {
		width: 65%;
	}
}
@media screen and (max-width: 600px) {
	.pop_sec {
		width: 90%;
	}
}
.cancel {
	float: right;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 2%;
}
.cancel:hover {
	color: rgb(88, 212, 57);
}
form {
	background-color: white;
	color: rgba(16, 16, 36);
	width: 50%;
	margin-left: 25%;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
	form {
		width: 90%;
		margin-left: 5%;
	}
}

label {
	text-align: center;
	display: flex;
	margin: 10px 5%;
	font-size: 20px;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="submit"] {
	margin: 10px 5%;
	text-decoration: none;
	outline: none;
	width: 85%;
	border: none;
	transition: all 1.2s ease 0s;
	border-bottom: 3px solid rgba(16, 16, 36);
}
input:focus {
	border-bottom: 3px solid rgb(88, 212, 57);
	color: rgba(16, 16, 36);
}
input[type="submit"] {
	background-color: rgb(18, 18, 83);
	border: none;
	cursor: pointer;
	margin: 20px 0 0 5%;
	color: white;
	border-radius: 3px;
	padding: 10px 0 10px 0;
}

@media screen and (min-width: 700px) {
	input[type="submit"] {
		width: 40%;
		margin: 20px 0 0 30%;
	}
}

input[type="submit"]:hover {
	color: rgba(16, 16, 36);
	background-color: rgb(88, 212, 57);
}

.ques {
	color: azure;
}
.color {
	color: brown;
}
/*
background-color: azure;
background-color: #24252a;*/
