* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

li,
a,
button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgb(40, 40, 100);
	text-decoration: none;
}

button {
	padding: 9px 25px;
	background-color: rgb(40, 40, 100);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
}
button:hover {
	background-color: rgb(40, 40, 100, 0.8);
}
button[type="submit"] {
	margin-left: 35%;
	margin-top: 10px;
}

form {
	background-color: white;
	color: rgba(16, 16, 36);
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 30px;
	padding-bottom: 30px;
}
.form {
	top: 65vh;
}
@media screen and (max-width: 600px) {
	form {
		width: 90%;
	}
}
@media screen and (max-height: 600px) {
	form {
		top: 60vh;
	}
	.form {
		top: 75vh;
	}
}
@media screen and (max-height: 480px) {
	.form {
		top: 95vh;
	}
}

label {
	text-align: center;
	display: flex;
	margin: 10px 5%;
	font-size: 20px;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="submit"] {
	margin: 10px 5%;
	text-decoration: none;
	outline: none;
	width: 85%;
	border: none;
	transition: all 1.2s ease 0s;
	border-bottom: 3px solid rgba(16, 16, 36);
}
input:focus {
	border-bottom: 3px solid rgb(88, 212, 57);
	color: rgba(16, 16, 36);
}
input[type="submit"] {
	background-color: rgb(18, 18, 83);
	border: none;
	cursor: pointer;
	margin: 20px 0 0 5%;
	color: white;
	border-radius: 3px;
	padding: 10px 0 10px 0;
}

@media screen and (min-width: 700px) {
	input[type="submit"] {
		width: 40%;
		margin: 20px 0 0 30%;
	}
}

input[type="submit"]:hover {
	color: rgba(16, 16, 36);
	background-color: rgb(88, 212, 57);
}

.ques {
	color: azure;
}
.color {
	color: brown;
}
/*
background-color: azure;
background-color: #24252a;*/
